@font-face {
  font-family: "IdealSans";
  src: url("https://raw.githubusercontent.com/AlexFlan/font-repo/refs/heads/main/IdealSans-Book-Pro.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
