@font-face {
  font-family: "IdealSans";
  src: url("https://www.brucecounty.on.ca/themes/md_bruce/fonts/IdealSans/IdealSans-Book-Pro.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
