@font-face {
  font-family: "IdealSans";
  src: url("https://www.brucecounty.on.ca/themes/md_bruce/fonts/IdealSans/IdealSans-Light-Pro.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
